<!-- <div class="container">
    <form action="">
        <div>
            <label for="">Titre de l'Album</label>
            <p><input type="text"></p>
        </div>
        <div>
            <label for="">Description</label>
            <p><textarea name="" id="" cols="30" rows="2"></textarea></p>
        </div>
        <div>
            <label for="">Ajouter l'image</label>
            <p><input type="file"></p>
        </div>
        <button>Enregistrer l'album</button>
    </form>
</div> -->
