<div class="aside2">
   <img [src]="album.url" alt=""/>
   <h1>{{album.id}}</h1>
    <h1>{{album.title}}</h1>
    <span>{{album.name}}</span>
    <h2>
        <button type="submit">play <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
          </svg></button>
    </h2>
     <p>List of songs</p>
     <ul *ngFor="let tag of album.tags">
        <li>{{tag}}</li>
     </ul>
</div>




